<div class="row">
  ﻿<div class="col-sm-12">
      <span>Hi {{ currentUser[0].FirstName | uppercase }} ! </span><span><a [routerLink]="['/login']">Logout</a></span>
      <p></p>
      <h6>All registered users:</h6>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ uname | uppercase }}</th>
            <th>{{ fname | uppercase }}</th>
            <th>{{ lname | uppercase }}</th>
            <th>{{ action | uppercase }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <td>{{ user.username | uppercase }}</td>
            <td>{{user.FirstName | uppercase }}</td>
            <td>{{user.LastName| uppercase }}</td>
            <td>
                <a class="btn btn-warning" routerLink="/edit/{{user.id}}">{{ edit | uppercase }}</a>
                <a class="btn btn-danger" (click)="deleteUser(user.id)">{{ delete | uppercase }}</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center text-uppercase" colspan="5">all right reseved</td>

          </tr>
        </tfoot>
      </table>

  </div>
</div>
